/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |TAB   |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  ;  | DEL |
// |LSHFT |  A  |  R  |  S  |  T  |  G  |   |  M  |  N   |  E  |  I  |  O  |  '  |
// |LCTRL |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |  /  | ESC |
//                    | GUI | RSE | SPC |   |BSPC | LWR  | RET |
                        bindings = <
   &kp TAB   &kp Q &kp W &kp F &kp P &kp B   &kp J &kp L  &kp U     &kp Y   &kp SEMI &kp DEL
   &kp LSHFT &kp A &kp R &kp S &kp T &kp G   &kp M &kp N  &kp E     &kp I   &kp O    &kp SQT
   &kp LCTRL &kp Z &kp X &kp C &kp D &kp V   &kp K &kp H  &kp COMMA &kp DOT &kp FSLH &kp ESC
                   &kp LGUI &mo 2 &kp SPACE  &kp BSPC &mo 1 &kp RET
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |TAB   |     |UP   |     |     |PG_UP|   |  1  |  2  |  3  |BT 1 |BT 2 |BT 3  |
// |LSHFT |LEFT |DOWN |RIGHT|     |PG_DN|   |  4  |  5  |  6  |     |     |      |
// |LCTRL |VOLUP|VOLDN| PP  |PREV |NEXT |   |  7  |  8  |  9  |     |     |BT CLR|
//                    | GUI | RSE | SPC |   |BSPC | LWR |  0  |
                        bindings = <
   &trans &trans       &kp UP   &trans    &trans    &kp PG_UP  &kp N1 &kp N2 &kp N3 &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2
   &trans &kp LEFT     &kp DOWN &kp RIGHT &trans    &kp PG_DN  &kp N4 &kp N5 &kp N6 &trans       &trans       &trans
   &trans &kp C_VOL_DN &kp C_VOL_UP &kp C_PP &kp C_PREV &kp C_NEXT &kp N7 &kp N8 &kp N9 &trans   &trans       &bt BT_CLR
                       &trans   &trans    &trans    &trans     &trans &kp N0
                       
                        >;
                };
                raise_layer {
// -----------------------------------------------------------------------------------------
// |TAB   |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |      |
// |LSHFT |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// |LCTRL |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI | RSE | SPC |   |BSPC | LWR | ALT	 |
                        bindings = <

   &trans    &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSPC
   &trans    &trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &kp GRAVE
   &trans    &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &kp TILDE
                    	     &trans &trans   &trans   &trans   &trans    &kp RALT
                        >;
                };
        };
};
